* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Proxima Nova";
  margin: auto;
  max-width: 1300px;
}

.clearbox {
  clear: both;
}

header {
  background: url(images/payments-banner-graphic.png);
  height: 600px;
}

.left {
  float: left;
}

.right {
  float: right;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.titleheader {
  text-align: center;
}

.titleheader h1 {
  color: white;
  padding-top: 7em;
  padding-bottom: 0.5em;
}

.titleheader p {
  color: white;
  padding-bottom: 2em;
}

.titleheader a {
  text-decoration: none;
  color: blue;
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 6px;
}


.qbs {
  text-align: center;
  height: 300px;
}

.firsttxt, .secondtxt, .thirdtxt {
  text-align: left;
  margin: auto;
  max-width: 600px;
  padding-left: 5em;
  padding-top: 10em;
}

.firsttxt h3, .secondtxt h3, .thirdtxt h3 {
  padding-bottom: 2em;
  color: #6d6d6d;
}

.firsttxt p, .secondtxt p, .thirdtxt p {
  color: #6d6d6d;
}

.qbs div {
  width: 33%;
  display: inline-block;
  margin-top: 50px;
}

.invoice {
  height: 300px;
  background-color: #f6f9fb;
}

.miniback p {
  line-height: 80px;
}

.miniback {
  height: 90px;
  background-color: #4c535c;
  text-align: center;
}

.befoot {
  text-align: center;
}

.befoot p {
  color: #6d6d6d;
  padding-top: 1em;
  padding-bottom: 1em;
}

.befoot a {
  text-decoration: none;
  color: white;
  border: 1px solid #00b088;
  background-color: #00b088;
  border-radius: 4px;
  padding: 10px;

}

.miniback p {
  color: white;
  font-size: 1.5em;
}

.back {
  background-color: #7cd5ef;
  text-align: center;
}

.back2 {
  background-color: #8080be;
  text-align: center;
}

.back2 img {
  height: 500px;
  padding-top: 25px;
  margin-bottom: -12px;
}

.back img {
  height: 500px;
  padding-top: 25px;
  margin-bottom: -4px;
}

.first div {
  width: 50%;
  float: left;
}

.second div {
  width: 50%;
  float: left;
}

.third div {
  width: 50%;
  float: left;
}

.footlist {
  width: 33%;
 display: inline-block;
}

.footlist li {
  list-style-type: none;
}

.decal {
  padding-top: 8em;
  padding-bottom: 2em;
  color: white;
}

.bad {
  padding-bottom: 2em;
  color: white;
}

.footlist li {
  padding-top: 1em;
  padding-bottom: 1em;
}

.footlist a {
  text-decoration: none;
}

footer {
  margin-top: 5em;
  background-color: #242629;
  height: 400px;
  text-align: center;
}
